*{
    margin: 0;
    padding: 0;
}
/* header styles */
.banner {
    background-image: url(../images/donation13.jpg);
    background-size: cover;
    color: white;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-title{
    font-size: 65px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 18px;
}
.primary-btn{
    color: white;
    background: #FF5959;
    border: 0;
    border-radius: 5px;
    padding: 16px 12px;
}